.home-picture-left{
    background-image: url('../images/boat-image-1.png'), url('../images/boat-image-2.png');
    height: 700px;
    background-size: 50% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
  }

  th {
    border-right-width: medium;
      /* border-right-color: #000;
      border-right-style: groove; */
      width: 25%;
  }

  .boing tdivh {
    border-right-width: medium;
    /* border-right-color: #000;
        border-right-style: groove; */
    width: 50%;
  }

  #th-email, #th-edit {
    border-right-width: 0;
  }

  #td-edit #div-add {
    padding-right: 30px;
  }

  /* Related to the Navbar */
  #navbar-bs-spurven{
    font-size: xx-large;
    margin-left: 4.5%;
  }

  .navbarDropdown{
    margin-left: 30px;
  }

  #contact{
    margin-left: 30px;
    margin-right: 80px;
  }


  /* Related to the Contact-page */
  #table-contact-div {
    margin-left: 5%;
    margin-right: 5%;
  }

  .something {
    /* margin-left: 40px;
    margin-right: 40px; */
    padding-top: 1.3%;
    padding-bottom: 1.3%;
  }

  .something-special {
    width: auto;
    padding-top: 2.6%;
    padding-bottom: 1.3%;
  }

  .contact-add-div {
    margin-bottom: 20px;
  }


  .container {
    width: 100%;
    /* display: inline-block;
    margin: 0 auto;
    transition: width .1s; */
  }

  .outer {
    display: grid;
    padding-bottom: 2%;
  }

  @media (min-width: 320px) {
    .container {
      width: 320px;
    }

    .outer {
      grid-template-columns: 33% 34% 33%;
    }
  }

  @media (min-width: 480px) {
    .container {
      width: 480px;
    }

    .outer {
      grid-template-columns: 33% 34% 33%;
    }
  }

  @media (min-width: 640px) {
    .container {
      width: 640px;
    }
    .outer {
      grid-template-columns: 33% 34% 33%;
    }
  }

  @media (min-width: 768px) {
    .container {
      width: 768px;
    }
    .outer {
      grid-template-columns: 33% 34% 33%;
    }
  }

  @media (min-width: 1024px) {
    .container {
    max-width: 800px;
    }
    .outer {
      grid-template-columns: 33% 34% 33%;
    }
  }

  @media (min-width: 1280px) {
    .container {
    max-width: 800px;
    }
    .outer {
      grid-template-columns: 33% 34% 33%;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 800px;
    }
    .outer {
      grid-template-columns: 33% 34% 33%;
    }
  }


/* Lånt */
    

    #inner {
      justify-self: left;
    }

    #inner-1 {
      justify-self: center;
    }

    #add-button {
      font-size: 150%;
      width: 150%;
    }


.table tbody tr td:last-child button, .modal-footer button { 
  margin: auto;
  width: 50% !important;
}